
<div class="row">
  <div class="col-md-3">
    <div class="card border-info">
          <div class="card-header">
            <button type="button" class="btn btn-info">
              Categories <span class="badge badge-light">{{categories.length}}</span>
            </button>
          </div>
         <div>
           <ul class="list-group list-group-flush" >
             <li class="list-group-item" (click)="changeCategory()" style="background-color: #dee2e6">All Products</li>
           </ul>
         </div>
          <ul class="list-group list-group-flush" *ngFor="let cat of categories"
          [class.active]="cat == selectedCategory"
          (click)="changeCategory(cat)">
            <li class="list-group-item">{{cat}}</li>
          </ul>
    </div>
  </div>


  <div class="col-md-9">
    <div class="card border-success">
      <div class="card text-white">
        <div class="card-header">
          <button type="button" class="btn btn-success">
            Products <span class="badge badge-light">{{products.length}}</span>
          </button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
<!--              <th scope="col">#</th>-->
              <th scope="col">NAME OF PRODUCT</th>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">PRICE (Le)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
<!--              <th scope="row">1</th>-->
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.price | currency: "Le"}}</td>
            </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>

  </div>
</div>
