<div class="row">
    <div class="col-md-6">
        <h4>Welcome to my Online Store</h4>
    </div>
    <div class="col-md-6">
      <app-cartSummary></app-cartSummary>
    </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card border-info">
          <div class="card-header">
            <button type="button" class="btn btn-info">
              Categories <span class="badge badge-light">{{categories.length}}</span>
            </button>
          </div>
         <div>
           <ul class="list-group list-group-flush" >
             <li class="list-group-item" (click)="changeCategory()" style="background-color: #dee2e6">All Categories</li>
           </ul>
         </div>
          <ul class="list-group list-group-flush" *ngFor="let cat of categories"
          [class.active]="cat == selectedCategory"
          (click)="changeCategory(cat)">
            <li class="list-group-item">{{cat}}</li>
          </ul>
    </div>
  </div>


  <div class="col-md-9">
    <div class="card border-success">
      <div class="card text-white">
        <div class="card-header">
          <button type="button" class="btn btn-success">
            Products <span class="badge badge-light">{{products.length}}</span>
          </button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
<!--              <th scope="col">#</th>-->
              <th scope="col">NAME OF PRODUCT</th>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">PRICE (Le)</th>
              <th scope="col">DETAILS</th>
              <th scope="col">ORDER</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
<!--              <th scope="row">{{product.id}}</th>-->
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.price | currency: "Le"}}</td>
              <td><button class="btn btn-sm btn-success float-right"
                          (click)="getProductById(product.id)">
                <i class="fa fa-eye"></i> View
              </button></td>
              <td><button class="btn btn-sm btn-success float-right"
              (click)="addProductToCart(product)" routerLink="/cart">
                <i class="fa fa-plus"></i> Add to Cart
              </button></td>
            </tr>
            </tbody>
          </table>
          </div>
      </div>
    </div>
    <p class="float-left">Pages:</p>
    <div class="btn-group float-right">
      <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
              class="btn btn-outline-dark btn-sm" [class.active]="page == selectedPage">
         {{page}}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="row no-gutters" *ngIf="myProduct" >
      <div class="col-md-5" *ngIf="myProduct.image">
        <img src="{{myProduct.image}}" class="card-img img-thumbnail" height="100" width="150">
      </div>
      <div class="col">
        <div class="card-body">
          <p>Name:- {{" "+ myProduct.name}}</p>
          <p>Description:- {{" "+ myProduct.description}}</p>
          <p>Price:- {{" "+ myProduct.price | currency: "Le"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
